:root {
	--font-size: 16px;
	--font-family: sans-serif;
	--font-color: #fff;
	--pad-btn-font: #495057;
	--color-main: #282923;
	--color-secondary: #404040;
	--pad-btn: #c4c5c9;
	--pad-btn-active: #f98d11;
	--general-spacing: 1rem;
}

html {
	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: 1.6;
	box-sizing: border-box;
	background-color: var(--color-main);
}

*,
*:after,
*:before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

main {
	min-height: 100vh;
}

a {
	color: var(--pad-btn);
	text-decoration: none;
}

a:hover {
	color: var(--pad-btn-active);
	text-decoration: none;
}

p {
	margin-top: 1rem;
}

iframe {
	width: 100%;
}

.main-menu {
	background-color: var(--pad-btn);
}

.channel-img {
	background-color: var(--font-color);
	max-width: 200px;
	max-height: 200px;
	border-radius: 50%;
	overflow: hidden;
}

.channel-title {
	text-align: center;
}

.channel-desc {
	word-wrap: break-word;
	text-align: justify;
}

#root,
.modal-content {
	background-color: var(--color-main);
	color: var(--font-color);
}

.modal-header {
	background-color: var(--color-secondary);
	border: none;
}

.modal-body{
	padding-bottom: 0;
}

.modal-footer {
	border: none;
	padding-top: 0;
}

.header {
	margin-bottom: 1.5rem;
}

.main-container {
	padding: 1.5rem;
	border-radius: 0.5rem;
}

.highlight {
	background-color: var(--color-secondary);
}

.spacing {
	margin: var(--general-spacing);
}

.card {
	background-color: var(--color-secondary);
	border-radius: 0.5rem;
	padding: var(--general-spacing);
}

.card-image {
	max-width: 100%;
	height: auto;
}

.card-name {
	padding-top: var(--general-spacing);
	text-align: center;
}

.card-details {
	margin: var(--general-spacing) 0;
	text-align: justify;
	word-wrap: break-word;
}

.toggler {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
}

.btn {
	transition: none;
}

.modal-content {
	background-color: var(--color-main);
	color: ;
}

input[type="submit"] {
	border: none;
	background-color: var(--pad-btn);
	margin: var(--general-spacing) 0;
}

input[type="submit"]:hover {
	color: var(--font-color);
	background-color: var(--pad-btn-active);
}

.custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	border-color: var(--pad-btn-active);
	background-color: var(--pad-btn-active);
}
